/* Imports */
@import url(//db.onlinewebfonts.com/c/0c453315c27507762e6b9536cfea76a6?family=Frutiger);
/* DEFINING COLORS */
:root {
  --g-blue: #005eb8;
  --g-darkblue: #004b93;
  --g-yellow: #ffeb3b;
  --g-green: #007f3b;
  --g-black: #212b32;
  --g-lightblue: #f0f4f5;
  --g-gray: #d8dde0;
}

/*  MAIN CSS */
*{
  font-family: Frutiger W01,Arial,Sans-serif !important;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
main{
  min-height: 100vh;
}
/* NAVIGATION */
nav.gp-header.navbar.navbar-expand-md.bg-light{
  font-family: Frutiger W01,Arial,Sans-serif;
  background-color: var(--g-blue) !important;
}
.nav-link{
  color: white;
}
.nav-link:hover{
  color: var(--g-yellow);
}
.dropdown{
  background-color: var(--g-blue) !important;
}
.dropdown:hover{
  color: var(--g-yellow) !important;
  background-color: var(--g-blue) !important;
}
.dropdown-item:hover, .dropdown-item:focus {
  background-color: var(--g-blue) !important;
}


/*  FOOTER */
footer{
  background-color: var(--g-gray);
  margin: auto;
  border-top: 4px solid  var(--g-blue);
}
